<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
       <span class="values"> Name</span><input type="text" name="search" id="search" placeholder="Search movies"> <br>
       <input type="radio" name="type" value="Movie"> Movie 
       <input type="radio" name="type" value="Series"> Series<br>
       <span class="values"> Number of result you want</span><input type="text" name="result" id="result" placeholder="1-100">
    <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>