<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/result.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies Result</title>
</head>
<body>
        <a href="/">Back to search?</a>
        <div class="passing">
        
                
                    <% data["Search"].forEach(function(data){ %>
                        
                    <div class="result">
                        <img src="<%=data["Poster"] %>">
                        <span class="room">Title:</span><span ><%=data["Title"] %> </span> <br>
                        <span class="room">Year:</span><span ><%=data["Year"] %> </span><br>
                        <span class="room">type:</span><span ><%=data["Type"] %> </span><br>
                        
                    </div>
                    <br>
                <% }) %>
            </div>
            <a href="/">Back to search?</a>
</body>
</html>