form{
   
    position: absolute;
    padding:40px;
    height:50%;
    width:35%;
    top: 40%;
    left: 40%;
    margin: -100px 0 0 -150px;
    border: solid rgb(226, 223, 223) 1px;
    
}
.body{
    background-color: black; 
}
h1{
    position: absolute;
    color: aliceblue;
    left:25%;
    top:8%;
    font-family: 'Courier New', Courier, monospace
}
.label{
    font-size: 40px;
    padding: 25px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    font-size: 20px;
    border: solid black 1px;
    padding-left:10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.radio1{
    border: 0px;
    width:20px;
    height: 20px;
    margin-bottom: 20px;
    position: relative;
    left:5%;
}
.radio{
    font-size:35px;
    color: aliceblue;
    position: relative;
    left:5%;
}
.btn{
    position: relative;
    left:5%;
}